body {
    background-color: beige ;
}

.contentBox {
    border: 2px solid #bbb;
    border-radius: 6px;
    padding: 10px 8px;
    min-height: 240px;
    overflow: hidden;
}
.boxLink {
    font-size: 12px;
    color: #333;
    text-decoration: none;
}
.boxLink:hover .contentBox{
    outline-style: solid;
    outline-width: 2px;
    outline-color: red;
}
